<% layout('layouts/boilerplate') %>

<div class="campground-title">
  <p class="heading-3">Campgrounds will go here</p>
  <a class="btn btn-violet" href="/campgrounds/new">Create new campground</a>
</div>
<div class="campgrounds">
  <% for (let camp of campgrounds) { %>
  <div class="card">
    <img src="<%= camp.image %>" alt="" class="card-img-top" />
    <div class="card-header"><%= camp.title %></div>
    <div class="card-body">
      <p><%= camp.description %></p>
      <div class="card-item">
        <span class="card-author">Author: Chris Bradwell</span>
        <span class="card-price">£<%= camp.price %> / month</span>
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-violet" href="/campgrounds/<%= camp._id %>"
        >View Campground</a
      >
    </div>
  </div>
  <% } %>
</div>
