<% layout('layouts/boilerplate') %>

<div class="show-campground">
  <div class="tabs">
    <ul>
      <li><i class="fa-solid fa-campground"></i> Campground</li>
      <li>Reviews</li>
      <li>Comments</li>
    </ul>
  </div>
  <div class="campground-content">
    <div class="card">
      <img src="<%= campground.image %>" alt="" class="card-img-top" />
      <div class="card-header"><%= campground.title %></div>
      <div class="card-body">
        <p><%= campground.location %></p>
        <p><%= campground.description %></p>
        <div class="card-item">
          <span class="card-author">Author: Chris Bradwell</span>
          <span class="card-price">£<%= campground.price %> / month</span>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-violet" href="/campgrounds/<%= campground._id %>/edit"
          >Edit</a
        >

        <form
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-violet">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
