<% layout('layouts/boilerplate') %>

<div class="show-campground">
  <div class="show-campground_left">
    <div class="list-group" id="list-tab" role="tablist">
      <a
        class="list-group-item list-group-item-action active"
        id="list-home-list"
        data-bs-toggle="list"
        href="#list-home"
        role="tab"
        aria-controls="list-home"
        >Home</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-profile-list"
        data-bs-toggle="list"
        href="#list-profile"
        role="tab"
        aria-controls="list-profile"
        >Profile</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-messages-list"
        data-bs-toggle="list"
        href="#list-messages"
        role="tab"
        aria-controls="list-messages"
        >Messages</a
      >
      <a
        class="list-group-item list-group-item-action"
        id="list-settings-list"
        data-bs-toggle="list"
        href="#list-settings"
        role="tab"
        aria-controls="list-settings"
        >Settings</a
      >
    </div>
  </div>
  <div class="show-campground_right">
    <div class="card">
      <img src="<%= campground.image %>" alt="" class="card-img-top" />
      <div class="card-header"><%= campground.title %></div>
      <div class="card-body">
        <p><%= campground.location %></p>
        <p><%= campground.description %></p>
        <div class="card-item">
          <span class="card-author">Author: Chris Bradwell</span>
          <span class="card-price">£<%= campground.price %> / month</span>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-violet" href="/campgrounds/<%= campground._id %>/edit"
          >Edit</a
        >

        <form
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-violet">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
