<% layout('layouts/boilerplate') %>

<div class="show-campground">
  <div class="tab">
    <button class="tablinks" onclick="openEvent(event, 'Campground')">
      <i class="fa-solid fa-campground"></i> Campground
    </button>
    <button
      class="tablinks tablinks-active"
      onclick="openEvent(event, 'Reviews')"
    >
      <i class="fa-solid fa-note-sticky"></i> Reviews
    </button>
    <button class="tablinks" onclick="openEvent(event, 'Map')">
      <i class="fa-solid fa-map-location"></i> Map
    </button>
  </div>

  <div id="Campground" class="tabcontent">
    <div class="card">
      <img src="<%= campground.image %>" alt="" class="card-img-top" />
      <div class="card-header"><%= campground.title %></div>
      <div class="card-body">
        <p><%= campground.location %></p>
        <p><%= campground.description %></p>
        <div class="card-item">
          <span class="card-author"
            >Author: <b><%= campground.author.username %></b>
          </span>
          <span class="card-price">£<%= campground.price %> / month</span>
        </div>
      </div>
      <% if(user && campground.author.equals(user._id)) { %>
      <div class="card-footer">
        <div class="card-footer-content">
          <a
            class="btn btn-success"
            href="/campgrounds/<%= campground._id %>/edit"
            >Edit</a
          >

          <form
            action="/campgrounds/<%= campground._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div id="Reviews" class="tabcontent">
    <% if(user) { %>
    <div class="review-forms">
      <form action="/campgrounds/<%= campground._id %>/reviews" method="post">
        <div class="form-group">
          <label for="rating">Rating:</label>
          <fieldset class="starability-basic starability-checkmark">
            <!-- <legend>Rating:</legend> -->
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="form-group">
          <label class="form-label" for="body">Review</label>
          <textarea
            name="review[body]"
            id="body"
            cols="30"
            rows="3"
            class="form-control"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-violet">Leave Review</button>
      </form>
    </div>
    <% } %>
    <div class="review-content">
      <% for(let review of campground.reviews) { %>
      <div class="review-card">
        <div class="review-card_body">
          <div class="review-card_copy">
            <p>Author: <%= review.author.username %></p>
            <span class="starability-result" data-rating="<%= review.rating %>">
              Rating: <%= review.rating %> stars
            </span>
          </div>

          <p>Review: <%= review.body %></p>
          <% if(user && review.author.equals(user._id)) { %>
          <form
            action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>"
            method="post"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div id="Map" class="tabcontent"></div>
</div>
